<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="parallelism" value="1" />
    <add key="directory" value="./.." />
    <add key="httpContent" value="./Content" />
    <add key="httpSharedContent" value="./Content" />
    <add key="httpViews" value="./Views" />
  </appSettings>
  <log4net>
    <appender name="console" type="log4net.Appender.ConsoleAppender" xdt:Transform="Replace" xdt:Locator="Match(name)">
      <layout type="log4net.Layout.PatternLayout">
        <IgnoresException value="False" />
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="../logs/photon.agent.txt" xdt:Transform="Replace" />
    </appender>
  </log4net>
  <dllmap os="linux" cpu="x86-64" wordsize="64" dll="git2-dd2d538.dll" target="lib/linux/x86_64/libgit2-dd2d538.so" xdt:Transform="Insert" />
  <dllmap os="osx" cpu="x86,x86-64" dll="git2-dd2d538.dll" target="lib/osx/libgit2-dd2d538.dylib" xdt:Transform="Insert" />
</configuration>