{{#Master Master.html}}

{{#Script}}
<script>
    $(function () {
        $('#layoutNavbarContent [data-link="agents"]').addClass('active');

        $('#SearchTextBox').on('input', onSearchChanged);

        onSearchChanged();
    });

    function onSearchChanged() {
        var searchText = $('#SearchTextBox').val();

        $('#AgentTable tr').each(function (i, e) {
            var visible = false;

            if (searchText.length === 0) {
                visible = true;
            } else {
                var name = $(e).attr('data-agent');

                if (name.match(new RegExp(searchText, "i")))
                    visible = true;
            }

            $(e).toggle(visible);
        });
    }

    function onRowClick(row) {
        var agentId = $(row).attr('data-id');

        document.location = '{{#Url Agent/Edit}}?id='
            + encodeURIComponent(agentId);
    }
</script>
{{#EndScript}}

{{#Style}}
<style>
    #AgentTable tr {
        cursor: pointer;
    }
    .c-icon {
        width: 0;
        white-space: nowrap;
    }
    .agent-status-holder {
        width: 32px;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        font-size: 24px;
    }
</style>
{{#EndStyle}}

<nav class="navbar navbar-dark bg-dark content-navbar">
    <div class="navbar-brand mr-auto">
        <!--<h3 class="text-primary my-0">Agents</h3>-->
    </div>
    <div class="form-inline">
        <a href="{{#Url agent/edit}}" class="btn btn-sm btn-success mr-2">
            New <i class="fas fa-plus"></i>
        </a>
        <div class="input-group input-group-sm">
            <input id="SearchTextBox" type="text" class="form-control" />
            <div class="input-group-append">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-3">
    {{#If !Agents}}
    <div class="container px-3 py-0">
        <h3 class="py-0 text-muted">No Agents have been defined.</h3>
        <p>
            Agents are required for executing Build and Deployment scripts.
            Create a <a href="{{#Url agent/edit}}">new Agent</a>.
        </p>
    </div>
    {{#Else}}
    <table id="AgentTable" class="table table-hover table-sm">
        {{#Each Agents.agent}}
        <tr data-agent="{{agent.Name}}" data-id="{{agent.Id}}" onclick="onRowClick(this)">
            <td class="c-icon">
                <i class="{{agent.Class}}"></i>
            </td>
            <td>
                <b>{{agent.Name}}</b>
            </td>
            <td>
                {{#Each agent.Roles.role}}
                <div class="badge badge-dark">{{role}}</div>
                {{#EndEach}}
            </td>
        </tr>
        {{#EndEach}}
    </table>
    {{#EndIf}}
</div>

<!--<div class="container-fluid mt-3">
    {{#If !Agents}}
    <div class="container px-3 py-0">
        <h3 class="py-0 text-muted">No Agents have been defined.</h3>
        <p>
            Agents are required for executing Build and Deployment scripts.
            Create a <a href="{{#Url agent/edit}}">new Agent</a>.
        </p>
    </div>
    {{#EndIf}}
    <div class="row no-gutters card-container">
        {{#Each Agents.agent}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-card-name="{{agent.Name}}">
            <div class="card agent-card">
                <div class="card-header">
                    <div class="agent-status-holder">
                        <i class="fas fa-check-circle text-success"></i>
                    </div>
                    <div class="agent-name-holder">
                        <h5 class="card-title agent-name">
                            <a href="{{#Url Agent/Edit}}?id={{&agent.Id}}">{{agent.Name}}</a>
                        </h5><br />
                        <h6 class="card-subtitle agent-address text-muted">{{agent.TcpHost}} :{{agent.TcpPort}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    {{#Each agent.Roles.role}}
                    <div class="badge badge-dark">{{role}}</div>
                    {{#EndEach}}
                </div>
            </div>
        </div>
        {{#EndEach}}
    </div>
</div>-->
