{{#Master Master.html}}

{{#Script}}
<script>
    $(function () {
        $('#layoutNavbarContent [data-link="security"]').addClass('active');
    });

    function enableSecurity() {
        $(this).attr('disabled', true);

        requestSecurityEnabled('true')
            .done(function() {
                document.location.reload();
            }).fail(function() {
                $(this).attr('disabled', false);
                alert('Failed to enable security!');
            });
    }

    function disableSecurity() {
        $(this).attr('disabled', true);

        requestSecurityEnabled('false')
            .done(function () {
                document.location.reload();
            }).fail(function () {
                $(this).attr('disabled', false);
                alert('Failed to enable security!');
            });
    }

    function requestSecurityEnabled(value) {
        var _value = encodeURIComponent(value);

        return $.ajax({
            url: '{{#Url api/security/enabled}}?value='+_value,
            method: 'POST',
            dataType: 'text'
        });
    }
</script>
{{#EndScript}}

{{#Style}}
<style>
</style>
{{#EndStyle}}

<nav class="navbar navbar-dark bg-dark content-navbar">
    <div class="navbar-brand mr-auto"></div>
</nav>

<div class="bg-light p-1">
    <div class="container">
        <div class="row h-100">
            <div class="col-12 col-md-4 col-lg-3 p-1 my-auto">
                {{#If Master.IsSecured}}
                <button class="btn btn-warning w-100" onclick="disableSecurity()">
                    <i class="fas fa-lock-open"></i>&nbsp;Disable Security
                </button>
                {{#Else}}
                <button class="btn btn-primary w-100" onclick="enableSecurity()">
                    <i class="fas fa-lock"></i>&nbsp;Enable Security
                </button>
                {{#EndIf}}
            </div>
            <div class="col-12 col-md-8 col-lg-9 py-1 my-auto">
                <p class="align-middle m-0" style="line-height: 1.1">Enable security to require users to authenticate before accessing any resources.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-3" style="height: 300px; background: #FAA;">

        </div>
        <div class="col-9" style="height: 300px; background: #AFA;">

        </div>
    </div>
</div>
