{{#Master Master.html}}

{{#Script}}
<script>
    $(function () {
        $('#layoutNavbarContent [data-link="applications"]').addClass('active');
    });
</script>
{{#EndScript}}

<nav class="navbar navbar-dark bg-dark content-navbar">
    <div class="navbar-brand mr-auto">
        <h3 class="text-primary my-0">{{PageTitle}}</h3>
    </div>
</nav>

<div class="container mt-2">
    <a href="{{#Url application/revisions}}?project={{&ProjectId}}&name={{&Name}}">Return to Application Revision List</a>

    {{#If Errors}}
    <div class="alert alert-danger">
        <ul class="my-0">
            {{#Each Errors.error}}
            <li>{{error.Message}}</li>
            {{#EndEach}}
        </ul>
    </div>
    {{#EndIf}}
    <table class="table table-sm table-striped bg-light mt-2">
        <tbody>
        <tr>
            <td>Project ID</td>
            <td>{{ProjectId}}</td>
        </tr>
        <tr>
            <td>Application Name</td>
            <td>{{Name}}</td>
        </tr>
        <tr>
            <td>Deployment Number</td>
            <td>{{DeploymentNumber}}</td>
        </tr>
        <tr>
            <td>Environment</td>
            <td>{{RevisionEnvironmentName}}</td>
        </tr>
        <tr>
            <td>Package</td>
            <td>{{RevisionPackage}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{RevisionLocation}}</td>
        </tr>
        <tr>
            <td>Time</td>
            <td>{{RevisionTime}}</td>
        </tr>
        </tbody>
    </table>
</div>
