{{#Master Master.html}}

{{#Script}}
<script>
    $(function () {
        $('#layoutNavbarContent [data-link="applications"]').addClass('active');
    });
</script>
{{#EndScript}}

<nav class="navbar navbar-dark bg-dark content-navbar">
    <div class="navbar-brand mr-auto">
        <h3 class="text-primary my-0">{{PageTitle}}</h3>
    </div>
</nav>

<div class="container mt-2">
    <a href="{{#Url applications}}">Return to Application List</a>

    {{#If Errors}}
    <div class="alert alert-danger">
        <ul class="my-0">
            {{#Each Errors.error}}
            <li>{{error.Message}}</li>
            {{#EndEach}}
        </ul>
    </div>
    {{#EndIf}}
    {{#If Revisions}}
    <table class="table table-sm table-striped bg-light mt-2">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Environment</th>
                <th>Package</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {{#Each Revisions.revision}}
            <tr {{#If revision.IsCurrent}} class="table-info" {{#EndIf}}>
                <td>
                    <a href="{{#Url application/details}}?project={{&ProjectId}}&name={{&Name}}&rev={{&revision.DeploymentNumber}}">{{revision.DeploymentNumber}}</a>
                </td>
                <td>{{revision.EnvironmentName}}</td>
                <td>{{revision.Package}}</td>
                <td>{{revision.Time}}</td>
            </tr>
            {{#EndEach}}
        </tbody>
    </table>
    {{#Else}}
    <div class="alert alert-warning">
        No revisions of this application are currently deployed.
    </div>
    {{#EndIf}}
</div>
