{{#Master Master.html}}

{{#Script}}
<script>
    $(function () {
        $('#layoutNavbarContent [data-link="dashboard"]').addClass('active');
    });
</script>
{{#EndScript}}

<div class="bg-secondary mb-4 px-2 py-1">
    <h2 class="text-light my-0">{{AgentName}}</h2>
</div>

<div class="container">
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th colspan="2">Agent</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-4">Agent Version</td>
                <td class="col-8">{{AgentVersion}}</td>
            </tr>
            <tr>
                <td>Architecture</td>
                <td>{{ProcessArchitecture}}</td>
            </tr>
            <tr>
                <td>HTTP URL</td>
                <td>{{AgentHttpUrl}}</td>
            </tr>
            <tr>
                <td>TCP URL</td>
                <td>{{AgentTcpUrl}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th colspan="2">Machine</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-4">Operating System</td>
                <td class="col-8">{{OsDescription}}</td>
            </tr>
            <tr>
                <td>Architecture</td>
                <td>{{OsArchitecture}}</td>
            </tr>
            <tr>
                <td>Processor Count</td>
                <td>{{MachineProcessorCount}}</td>
            </tr>
            <tr>
                <td>Machine Name</td>
                <td>{{MachineName}}</td>
            </tr>
            <tr>
                <td>Host Name</td>
                <td>{{MachineHost}}</td>
            </tr>
            <tr>
                <td>Framework</td>
                <td>{{FrameworkDescription}}</td>
            </tr>
            <tr>
                <td>CLR Version</td>
                <td>{{MachineClrVersion}}</td>
            </tr>
        </tbody>
    </table>
</div>
