{{#Master Master.html}}

{{#Script}}
<script>
    $(function () {
        $('#layoutNavbarContent [data-link="dashboard"]').addClass('active');
    });
</script>
{{#EndScript}}

<nav class="navbar navbar-dark bg-dark content-navbar">
    <div class="navbar-brand mr-auto">
        <h3 class="text-primary my-0">{{AgentName}}</h3>
    </div>
</nav>

<div class="container mt-3">
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th colspan="2">Agent</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 40%">Agent Version</td>
                <td>{{AgentVersion}}</td>
            </tr>
            <tr>
                <td>HTTP URL</td>
                <td>{{AgentHttpUrl}}</td>
            </tr>
            <tr>
                <td>TCP URL</td>
                <td>{{AgentTcpUrl}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th colspan="2">Machine</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 40%">Operating System</td>
                <td>{{OsDescription}}</td>
            </tr>
            <tr>
                <td>Architecture</td>
                <td>{{OsArchitecture}}</td>
            </tr>
            <tr>
                <td>Processor Count</td>
                <td>{{MachineProcessorCount}}</td>
            </tr>
            <tr>
                <td>Machine Name</td>
                <td>{{MachineName}}</td>
            </tr>
            <tr>
                <td>Framework</td>
                <td>{{FrameworkDescription}}</td>
            </tr>
            <tr>
                <td>CLR Version</td>
                <td>{{MachineClrVersion}}</td>
            </tr>
        </tbody>
    </table>
</div>
