<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" lang="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{PageTitle}}</title>
    <link rel="SHORTCUT ICON" href="{{#Url SharedContent/photon_light.ico}}">
    <link rel="stylesheet" href="{{#Url SharedContent/bootstrap-4.1.0/css/bootstrap.min.css}}">
    <script defer src="{{#Url SharedContent/fontawesome-5.0.13/js/fontawesome-all.min.js}}"></script>
    <link rel="stylesheet" href="{{#Url Content/site.css}}">
    {{style-content}}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sidebar">
        <div class="container-fluid">
            <div class="navbar-brand photon-icon">
                <img src="{{#Url Content/Images/photon_dark.svg}}" class="d-inline-block" alt="" />
                Photon Server
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layoutNavbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="layoutNavbarContent">
                <ul class="navbar-nav">
                    <li class="nav-item" data-link="dashboard">
                        <a href="{{#Url index}}" class="nav-link">
                            <div class="nav-item-iconholder">
                                <i style="font-size: 16px" class="fas fa-home"></i>
                            </div>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item" data-link="sessions">
                        <a href="{{#Url sessions}}" class="nav-link">
                            <div class="nav-item-iconholder">
                                <i style="font-size: 16px" class="fas fa-terminal"></i>
                            </div>
                            Sessions
                        </a>
                    </li>
                    <li class="nav-item" data-link="agents">
                        <a href="{{#Url agents}}" class="nav-link">
                            <div class="nav-item-iconholder">
                                <i style="font-size: 16px" class="far fa-hdd"></i>
                            </div>
                            Agents
                        </a>
                    </li>
                    <li class="nav-item" data-link="projects">
                        <a href="{{#Url projects}}" class="nav-link">
                            <div class="nav-item-iconholder">
                                <i style="font-size: 16px" class="fab fa-wpforms"></i>
                            </div>
                            Projects
                        </a>
                    </li>
                    <li class="nav-item" data-link="variables">
                        <a href="{{#Url variables}}" class="nav-link">
                            <div class="nav-item-iconholder">
                                <i style="font-size: 16px" class="fas fa-hashtag"></i>
                            </div>
                            Variables
                        </a>
                    </li>
                    <li class="nav-item" data-link="packages">
                        <a href="{{#Url Packages}}" class="nav-link">
                            <div class="nav-item-iconholder">
                                <i style="font-size: 16px" class="fas fa-box"></i>
                            </div>
                            Packages
                        </a>
                    </li>
                    <li class="nav-item" data-link="builds">
                        <a href="{{#Url Builds}}" class="nav-link">
                            <div class="nav-item-iconholder">
                                <i style="font-size: 16px" class="fas fa-cubes"></i>
                            </div>
                            Builds
                        </a>
                    </li>
                    <li class="nav-item" data-link="deployments">
                        <a href="{{#Url Deployments}}" class="nav-link">
                            <div class="nav-item-iconholder">
                                <i style="font-size: 16px" class="fas fa-cloud-download-alt"></i>
                            </div>
                            Deployments
                        </a>
                    </li>
                    <li class="nav-item" data-link="configuration">
                        <a href="{{#Url Configuration}}" class="nav-link">
                            <div class="nav-item-iconholder">
                                <i style="font-size: 16px" class="fas fa-cog"></i>
                            </div>
                            Configuration
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="layout-content">
        {{master-content}}
    </div>
    <script src="{{#Url SharedContent/jquery-3.3.1.min.js}}"></script>
    <script src="{{#Url SharedContent/popper.min.js}}"></script>
    <script src="{{#Url SharedContent/bootstrap-4.1.0/js/bootstrap.min.js}}"></script>
    {{script-content}}
</body>
</html>
