<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:firewall="http://schemas.microsoft.com/wix/FirewallExtension">
  <?define EXE=$(var.PhotonAgent.TargetFileName)?>
  <?define VERSION=!(bind.FileVersion.$(var.EXE))?>
  <?define PhotonAgent_TargetDir=$(var.PhotonAgent.TargetDir)?>
  <Product Id="*" Name="Photon Agent $(var.VERSION)" Language="1033" Version="$(var.VERSION)" Manufacturer="Joshua Miller" UpgradeCode="06ac1f64-d492-40c4-9de6-3ada579880a8">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="Joshua Miller" Description="Windows Installer for Photon Agent." />
    <Media Id="1" Cabinet="Photon.Agent.cab" EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Photon Agent is already installed." />
    <Feature Id="Complete" Title="Photon Agent" Description="Install Photon Agent." Level="1" Display="expand" ConfigurableDirectory="INSTALLDIR">
      <Feature Id="AgentExecutable" Title="Photon Agent" Description="Photon Agent application." Level="1">
        <ComponentGroupRef Id="ProductComponents" />
        <ComponentGroupRef Id="AgentTemplates" />
        <ComponentGroupRef Id="LibGit2SharpComponents" />
      </Feature>
      <ComponentGroupRef Id="Views_Builds_files" />
      <ComponentGroupRef Id="Views_files" />
      <ComponentGroupRef Id="Views_Deployments_files" />
      <ComponentGroupRef Id="Views_Variables_files" />
      <ComponentGroupRef Id="Content_bootstrap_4.1.0_css_files" />
      <ComponentGroupRef Id="Content_bootstrap_4.1.0_js_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.0.11_css_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.0.11_webfonts_files" />
      <ComponentGroupRef Id="Content_Images_files" />
      <ComponentGroupRef Id="Content_files" />
      <ComponentGroupRef Id="Content_jsoneditor_5.15.0_img_files" />
      <ComponentGroupRef Id="Content_jsoneditor_5.15.0_files" />
      <ComponentGroupRef Id="Views_Session_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.0.13_js_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.0.13_css_files" />
      <ComponentGroupRef Id="Views_VariableSet_files" />
    </Feature>
    <Property Id="CREATEFIREWALLEXCEPTION" Secure="yes" Value="1">
      <RegistrySearch Id="FirewallExceptionRegKey" Root="HKLM" Key="SOFTWARE\Photon\Agent" Type="raw" Name="FirewallException" />
    </Property>
    <Property Id="WixShellExecTarget" Value="[PHOTON_URL]" />
    <Binary Id="ConfigTools" SourceFile="$(var.PhotonInstallerCommon.TargetDir)Photon.Installer.Common.CA.dll" />
    <CustomAction Id="SetPhotonUrl" BinaryKey="ConfigTools" DllEntry="LoadAgentUrl" Impersonate="yes" />
    <CustomAction Id="LaunchAgentConfiguration" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <CustomAction Id="SaveCmdLineValueFirewallException" Property="CL_CREATEFIREWALLEXCEPTION" Value="[CREATEFIREWALLEXCEPTION]" Execute="firstSequence" />
    <CustomAction Id="SetFromCmdLineValueFirewallException" Property="X_CREATEFIREWALLEXCEPTION" Value="[CL_CREATEFIREWALLEXCEPTION]" Execute="firstSequence" />
    <CustomAction Id="SetFromRegValueFirewallException" Property="X_CREATEFIREWALLEXCEPTION" Value="[REG_CREATEFIREWALLEXCEPTION]" Execute="firstSequence" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open Agent Configuration" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <WixVariable Id="WixUILicenseRtf" Value="Content\gpl-3.0.rtf" />
    <UIRef Id="WixUI_MinimalCustom" />
  </Product>
  <Fragment>
    <UI Id="WixUI_MinimalCustom">
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="InstallOptionsDlg" Order="5">1</Publish>
      <Publish Dialog="InstallOptionsDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="InstallOptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallOptionsDlg" Order="2">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="SetPhotonUrl" Order="1">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchAgentConfiguration" Order="2">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      <Dialog Id="InstallOptionsDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgTitle)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Type="CheckBox" Id="FirewallCheckbox" Width="321" Height="17" X="26" Y="68" CheckBoxValue="1" Property="CREATEFIREWALLEXCEPTION" Text="Create a Windows Firewall exception" />
      </Dialog>
    </UI>
  </Fragment>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CommonAppDataManufacturerFolder" Name="Photon">
          <Directory Id="INSTALLDIR" Name="Agent">
            <Directory Id="InstallBin" Name="bin">
              <Directory Id="LibGit2SharpDir" Name="lib">
                <Directory Id="LibGit2Sharp_linuxDir" Name="linux">
                  <Directory Id="LibGit2Sharp_linux_x86x64Dir" Name="x86_64">
                    <Component Id="LibGit2Sharp_linux_x86x64" Guid="*">
                      <File Source="$(var.PhotonAgent.TargetDir)lib\linux\x86_64\libgit2-dd2d538.so" />
                    </Component>
                  </Directory>
                </Directory>
                <Directory Id="LibGit2Sharp_osxDir" Name="osx">
                  <Component Id="LibGit2Sharp_osx" Guid="*">
                    <File Source="$(var.PhotonAgent.TargetDir)lib\osx\libgit2-dd2d538.dylib" />
                  </Component>
                </Directory>
                <Directory Id="LibGit2Sharp_win32Dir" Name="win32">
                  <Directory Id="LibGit2Sharp_win32_x86Dir" Name="x86">
                    <Component Id="LibGit2Sharp_win32_x86" Guid="*">
                      <File Id="LibGit2Sharp_win32_x86_dll" Source="$(var.PhotonAgent.TargetDir)lib\win32\x86\git2-dd2d538.dll" />
                    </Component>
                  </Directory>
                  <Directory Id="LibGit2Sharp_win32_x64Dir" Name="x64">
                    <Component Id="LibGit2Sharp_win32_x64" Guid="*">
                      <File Id="LibGit2Sharp_win32_x64_dll" Source="$(var.PhotonAgent.TargetDir)lib\win32\x64\git2-dd2d538.dll" />
                    </Component>
                  </Directory>
                </Directory>
              </Directory>
              <Directory Id="Content" Name="Content">
                <Directory Id="Content_bootstrap_4.1.0" Name="bootstrap-4.1.0">
                  <Directory Id="Content_bootstrap_4.1.0_css" Name="css" />
                  <Directory Id="Content_bootstrap_4.1.0_js" Name="js" />
                </Directory>
                <Directory Id="Content_fontawesome_5.0.11" Name="fontawesome-5.0.11">
                  <Directory Id="Content_fontawesome_5.0.11_css" Name="css" />
                  <Directory Id="Content_fontawesome_5.0.11_webfonts" Name="webfonts" />
                </Directory>
                <Directory Id="Content_Images" Name="Images" />
                <Directory Id="Content_jsoneditor_5.15.0" Name="jsoneditor-5.15.0">
                  <Directory Id="Content_jsoneditor_5.15.0_img" Name="img" />
                </Directory>
                <Directory Id="Content_fontawesome_5.0.13" Name="fontawesome-5.0.13">
                  <Directory Id="Content_fontawesome_5.0.13_css" Name="css" />
                  <Directory Id="Content_fontawesome_5.0.13_js" Name="js" />
                </Directory>
              </Directory>
              <Directory Id="Views" Name="Views">
                <Directory Id="Views_Builds" Name="Builds" />
                <Directory Id="Views_Deployments" Name="Deployments" />
                <Directory Id="Views_Variables" Name="Variables" />
                <Directory Id="Views_Session" Name="Session" />
                <Directory Id="Views_VariableSet" Name="VariableSet" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="InstallBin">
      <Component Id="PhotonAgent.exe" Guid="fef62b5b-45af-437f-90cb-676f626ecaef">
        <File Id="PhotonAgent.exe" Name="PhotonAgent.exe" Source="$(var.PhotonAgent_TargetDir)PhotonAgent.exe" KeyPath="yes" />
        <ServiceInstall Id="ServiceInstaller" Name="Photon.Agent" Type="ownProcess" DisplayName="Photon Agent" Description="Agent instance for Photon." Start="auto" ErrorControl="normal" Account="[LocalSystem]" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="Photon.Agent" Wait="yes" />
      </Component>
      <Component Id="RegistryComponents" Guid="0AE57731-F659-4473-B83C-614CE1FA4F7D">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Photon\Agent" Action="createAndRemoveOnUninstall">
          <RegistryValue Name="FirewallException" Value="[CREATEFIREWALLEXCEPTION]" Type="integer" />
        </RegistryKey>
      </Component>
      <Component Id="FirewallException" Guid="C2CC1E1E-7DC8-451C-8708-F105F383EE11" KeyPath="yes">
        <Condition>CREATEFIREWALLEXCEPTION</Condition>
        <firewall:FirewallException Id="PhotonAgentFirewallException" File="PhotonAgent.exe" Name="Photon Agent" Scope="any" />
      </Component>
      <Component Id="PhotonAgent.exe.config" Guid="">
        <File Id="PhotonAgent.exe.config" Name="PhotonAgent.exe.config" Source="$(var.PhotonAgent_TargetDir)PhotonAgent.exe.config" />
      </Component>
      <Component Id="LibGit2Sharp.dll" Guid="557a7665-f021-49c2-ae97-3832dd8597b5">
        <File Id="LibGit2Sharp.dll" Name="LibGit2Sharp.dll" Source="$(var.PhotonAgent_TargetDir)LibGit2Sharp.dll" />
      </Component>
      <Component Id="log4net.dll" Guid="2e4d6cf2-7d84-4935-97f9-54f8aba5151d">
        <File Id="log4net.dll" Name="log4net.dll" Source="$(var.PhotonAgent_TargetDir)log4net.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="b144599d-9dee-40ad-81d6-ec647f4e7ed0">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.PhotonAgent_TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="PiServerLite.dll" Guid="950d9b75-58ed-4b66-9e49-689dffdafab3">
        <File Id="PiServerLite.dll" Name="PiServerLite.dll" Source="$(var.PhotonAgent_TargetDir)PiServerLite.dll" />
      </Component>
      <Component Id="System.Threading.Tasks.Dataflow.dll" Guid="0348dec5-6727-4b49-8e83-96ccf1f9ad76">
        <File Id="System.Threading.Tasks.Dataflow.dll" Name="System.Threading.Tasks.Dataflow.dll" Source="$(var.PhotonAgent_TargetDir)System.Threading.Tasks.Dataflow.dll" />
      </Component>
      <Component Id="Photon.Framework.dll" Guid="9c4927e8-baec-44c6-92b3-3cde538043ea">
        <File Id="Photon.Framework.dll" Name="Photon.Framework.dll" Source="$(var.PhotonAgent_TargetDir)Photon.Framework.dll" />
      </Component>
      <Component Id="Photon.Library.dll" Guid="a2b30868-de4d-423b-985c-b2d55729159c">
        <File Id="Photon.Library.dll" Name="Photon.Library.dll" Source="$(var.PhotonAgent_TargetDir)Photon.Library.dll" />
      </Component>
      <Component Id="Photon.Communication.dll" Guid="85dd80ad-4519-45b0-aed9-039bf05fbe48">
        <File Id="Photon.Communication.dll" Name="Photon.Communication.dll" Source="$(var.PhotonAgent_TargetDir)Photon.Communication.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.Bson.dll" Guid="07c6f689-26e7-4f2c-b500-efe4ba3dc574">
        <File Id="Newtonsoft.Json.Bson.dll" Name="Newtonsoft.Json.Bson.dll" Source="$(var.PhotonAgent_TargetDir)Newtonsoft.Json.Bson.dll" />
      </Component>
      <Component Id="System.Runtime.InteropServices.RuntimeInformation.dll" Guid="f214c9de-3714-40c6-88e5-e42dab35e526">
        <File Id="System.Runtime.InteropServices.RuntimeInformation.dll" Name="System.Runtime.InteropServices.RuntimeInformation.dll" Source="$(var.PhotonAgent_TargetDir)System.Runtime.InteropServices.RuntimeInformation.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="LibGit2SharpComponents">
      <ComponentRef Id="LibGit2Sharp_linux_x86x64" />
      <ComponentRef Id="LibGit2Sharp_osx" />
      <ComponentRef Id="LibGit2Sharp_win32_x86" />
      <ComponentRef Id="LibGit2Sharp_win32_x64" />
    </ComponentGroup>
    <ComponentGroup Id="AgentTemplates" Directory="INSTALLDIR">
      <Component Id="AgentConfigTemplate" Guid="">
        <File Source="$(var.PhotonAgent.ProjectDir)agent.json" KeyPath="yes">
          <util:PermissionEx User="Users" GenericAll="yes" />
        </File>
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Builds_files" Directory="Views_Builds">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_files" Directory="Views">
      <Component Id="Views_Configuration.html" Guid="ea5a70a3-fb64-4b15-8558-bdff818163b7">
        <File Id="Views_Configuration.html" Name="Configuration.html" Source="$(var.PhotonAgent_TargetDir)Views\Configuration.html" />
      </Component>
      <Component Id="Views_Index.html" Guid="1aa10e6f-6901-4129-bad4-57f99f9cf799">
        <File Id="Views_Index.html" Name="Index.html" Source="$(var.PhotonAgent_TargetDir)Views\Index.html" />
      </Component>
      <Component Id="Views_Master.html" Guid="a2aeca65-44b3-4e83-8ee3-4f3d2d80fb9b">
        <File Id="Views_Master.html" Name="Master.html" Source="$(var.PhotonAgent_TargetDir)Views\Master.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Deployments_files" Directory="Views_Deployments">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Variables_files" Directory="Views_Variables">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_bootstrap_4.1.0_css_files" Directory="Content_bootstrap_4.1.0_css">
      <Component Id="Content_bootstrap_4.1.0_css_bootstrap_grid.min.css" Guid="0ece36a2-f3b8-4e79-9393-6ee1feee8f5f">
        <File Id="Content_bootstrap_4.1.0_css_bootstrap_grid.min.css" Name="bootstrap-grid.min.css" Source="$(var.PhotonAgent_TargetDir)Content\bootstrap-4.1.0\css\bootstrap-grid.min.css" />
      </Component>
      <Component Id="Content_bootstrap_4.1.0_css_bootstrap_reboot.min.css" Guid="0b630135-3583-434c-9323-9ff3796236fd">
        <File Id="Content_bootstrap_4.1.0_css_bootstrap_reboot.min.css" Name="bootstrap-reboot.min.css" Source="$(var.PhotonAgent_TargetDir)Content\bootstrap-4.1.0\css\bootstrap-reboot.min.css" />
      </Component>
      <Component Id="Content_bootstrap_4.1.0_css_bootstrap.min.css" Guid="84bab4ca-1b11-4336-9389-09e8c383b6f8">
        <File Id="Content_bootstrap_4.1.0_css_bootstrap.min.css" Name="bootstrap.min.css" Source="$(var.PhotonAgent_TargetDir)Content\bootstrap-4.1.0\css\bootstrap.min.css" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_bootstrap_4.1.0_js_files" Directory="Content_bootstrap_4.1.0_js">
      <Component Id="Content_bootstrap_4.1.0_js_bootstrap.bundle.min.js" Guid="7c83a46f-8bfd-40f0-b33c-a64b5b220feb">
        <File Id="Content_bootstrap_4.1.0_js_bootstrap.bundle.min.js" Name="bootstrap.bundle.min.js" Source="$(var.PhotonAgent_TargetDir)Content\bootstrap-4.1.0\js\bootstrap.bundle.min.js" />
      </Component>
      <Component Id="Content_bootstrap_4.1.0_js_bootstrap.min.js" Guid="a37e6ccd-e0fa-4c5e-a847-04d8fd1da57f">
        <File Id="Content_bootstrap_4.1.0_js_bootstrap.min.js" Name="bootstrap.min.js" Source="$(var.PhotonAgent_TargetDir)Content\bootstrap-4.1.0\js\bootstrap.min.js" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.0.11_css_files" Directory="Content_fontawesome_5.0.11_css">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.0.11_webfonts_files" Directory="Content_fontawesome_5.0.11_webfonts">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_Images_files" Directory="Content_Images">
      <Component Id="Content_Images_photon_dark.svg" Guid="a796222c-4757-44c4-b5f6-0f76c928f475">
        <File Id="Content_Images_photon_dark.svg" Name="photon_dark.svg" Source="$(var.PhotonAgent_TargetDir)Content\Images\photon_dark.svg" />
      </Component>
      <Component Id="Content_Images_wrap.svg" Guid="cb6e3c27-8a07-4f23-bd39-83f62086c529">
        <File Id="Content_Images_wrap.svg" Name="wrap.svg" Source="$(var.PhotonAgent_TargetDir)Content\Images\wrap.svg" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_files" Directory="Content">
      <Component Id="Content_jquery_3.3.1.min.js" Guid="81e2b2af-5edb-4344-9b8d-ef22606159e9">
        <File Id="Content_jquery_3.3.1.min.js" Name="jquery-3.3.1.min.js" Source="$(var.PhotonAgent_TargetDir)Content\jquery-3.3.1.min.js" />
      </Component>
      <Component Id="Content_photon_light.ico" Guid="9afbdd39-ce0f-4998-8438-085cc9c3367b">
        <File Id="Content_photon_light.ico" Name="photon_light.ico" Source="$(var.PhotonAgent_TargetDir)Content\photon_light.ico" />
      </Component>
      <Component Id="Content_popper.min.js" Guid="e1c05e07-29b9-42b9-aeaf-7f00bcf068ca">
        <File Id="Content_popper.min.js" Name="popper.min.js" Source="$(var.PhotonAgent_TargetDir)Content\popper.min.js" />
      </Component>
      <Component Id="Content_ActiveSessions.js" Guid="c2ffe53e-9829-4b29-93a5-cde60d4d3d3e">
        <File Id="Content_ActiveSessions.js" Name="ActiveSessions.js" Source="$(var.PhotonAgent_TargetDir)Content\ActiveSessions.js" />
      </Component>
      <Component Id="Content_site.css" Guid="da39761d-074c-4f63-9fe5-f33450a3048f">
        <File Id="Content_site.css" Name="site.css" Source="$(var.PhotonAgent_TargetDir)Content\site.css" />
      </Component>
      <Component Id="Content_ansi_up.js" Guid="357ca8a9-6707-4ae9-8752-820e7640a61c">
        <File Id="Content_ansi_up.js" Name="ansi_up.js" Source="$(var.PhotonAgent_TargetDir)Content\ansi_up.js" />
      </Component>
      <Component Id="Content_SessionOutput.js" Guid="b3765657-69ed-4bf3-a0ca-500d75d07455">
        <File Id="Content_SessionOutput.js" Name="SessionOutput.js" Source="$(var.PhotonAgent_TargetDir)Content\SessionOutput.js" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_jsoneditor_5.15.0_img_files" Directory="Content_jsoneditor_5.15.0_img">
      <Component Id="Content_jsoneditor_5.15.0_img_jsoneditor_icons.svg" Guid="2f202c4a-741e-403a-af6a-aa4a9ac801ee">
        <File Id="Content_jsoneditor_5.15.0_img_jsoneditor_icons.svg" Name="jsoneditor-icons.svg" Source="$(var.PhotonAgent_TargetDir)Content\jsoneditor-5.15.0\img\jsoneditor-icons.svg" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_jsoneditor_5.15.0_files" Directory="Content_jsoneditor_5.15.0">
      <Component Id="Content_jsoneditor_5.15.0_jsoneditor.min.js" Guid="746be443-2f18-4a86-a5d9-d7b00d88e7d6">
        <File Id="Content_jsoneditor_5.15.0_jsoneditor.min.js" Name="jsoneditor.min.js" Source="$(var.PhotonAgent_TargetDir)Content\jsoneditor-5.15.0\jsoneditor.min.js" />
      </Component>
      <Component Id="Content_jsoneditor_5.15.0_jsoneditor.min.css" Guid="96a50ce6-9355-4630-b643-fd480d9369bc">
        <File Id="Content_jsoneditor_5.15.0_jsoneditor.min.css" Name="jsoneditor.min.css" Source="$(var.PhotonAgent_TargetDir)Content\jsoneditor-5.15.0\jsoneditor.min.css" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Session_files" Directory="Views_Session">
      <Component Id="Views_Session_Details.html" Guid="8bff447e-4878-4fa7-aacd-1ace4fc50e25">
        <File Id="Views_Session_Details.html" Name="Details.html" Source="$(var.PhotonAgent_TargetDir)Views\Session\Details.html" />
      </Component>
      <Component Id="Views_Session_Index.html" Guid="2b61d6e5-83fb-4ac5-a3fb-5de7891d9a4d">
        <File Id="Views_Session_Index.html" Name="Index.html" Source="$(var.PhotonAgent_TargetDir)Views\Session\Index.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.0.13_js_files" Directory="Content_fontawesome_5.0.13_js">
      <Component Id="Content_fontawesome_5.0.13_js_fontawesome.min.js" Guid="92596db0-3797-44ee-8c55-c8867d7e30e6">
        <File Id="Content_fontawesome_5.0.13_js_fontawesome.min.js" Name="fontawesome.min.js" Source="$(var.PhotonAgent_TargetDir)Content\fontawesome-5.0.13\js\fontawesome.min.js" />
      </Component>
      <Component Id="Content_fontawesome_5.0.13_js_fontawesome_all.min.js" Guid="de4038a6-7239-45ea-922a-c3cf3304d8de">
        <File Id="Content_fontawesome_5.0.13_js_fontawesome_all.min.js" Name="fontawesome-all.min.js" Source="$(var.PhotonAgent_TargetDir)Content\fontawesome-5.0.13\js\fontawesome-all.min.js" />
      </Component>
      <Component Id="Content_fontawesome_5.0.13_js_fa_v4_shims.min.js" Guid="593d98c7-5cfa-436d-af91-146120220c45">
        <File Id="Content_fontawesome_5.0.13_js_fa_v4_shims.min.js" Name="fa-v4-shims.min.js" Source="$(var.PhotonAgent_TargetDir)Content\fontawesome-5.0.13\js\fa-v4-shims.min.js" />
      </Component>
      <Component Id="Content_fontawesome_5.0.13_js_fa_solid.min.js" Guid="b33b911a-5357-4279-8683-7d2e6c5df683">
        <File Id="Content_fontawesome_5.0.13_js_fa_solid.min.js" Name="fa-solid.min.js" Source="$(var.PhotonAgent_TargetDir)Content\fontawesome-5.0.13\js\fa-solid.min.js" />
      </Component>
      <Component Id="Content_fontawesome_5.0.13_js_fa_brands.min.js" Guid="95ae044b-e2ae-47db-9fd0-2ba89e35b5b7">
        <File Id="Content_fontawesome_5.0.13_js_fa_brands.min.js" Name="fa-brands.min.js" Source="$(var.PhotonAgent_TargetDir)Content\fontawesome-5.0.13\js\fa-brands.min.js" />
      </Component>
      <Component Id="Content_fontawesome_5.0.13_js_fa_regular.min.js" Guid="0b3bbd5e-f74b-4813-a618-23b59a8ad0e3">
        <File Id="Content_fontawesome_5.0.13_js_fa_regular.min.js" Name="fa-regular.min.js" Source="$(var.PhotonAgent_TargetDir)Content\fontawesome-5.0.13\js\fa-regular.min.js" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.0.13_css_files" Directory="Content_fontawesome_5.0.13_css">
      <Component Id="Content_fontawesome_5.0.13_css_fa_svg_with_js.css" Guid="87714398-94fa-4c22-9c89-4fc6f14150ae">
        <File Id="Content_fontawesome_5.0.13_css_fa_svg_with_js.css" Name="fa-svg-with-js.css" Source="$(var.PhotonAgent_TargetDir)Content\fontawesome-5.0.13\css\fa-svg-with-js.css" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_VariableSet_files" Directory="Views_VariableSet">
      <Component Id="Views_VariableSet_EditJson.html" Guid="b03f5a9e-2163-4aab-a830-b964e5cb279a">
        <File Id="Views_VariableSet_EditJson.html" Name="EditJson.html" Source="$(var.PhotonAgent_TargetDir)Views\VariableSet\EditJson.html" />
      </Component>
      <Component Id="Views_VariableSet_Index.html" Guid="69abb2ba-ee6e-4df9-9d49-abe35979b7a5">
        <File Id="Views_VariableSet_Index.html" Name="Index.html" Source="$(var.PhotonAgent_TargetDir)Views\VariableSet\Index.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>