<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:firewall="http://schemas.microsoft.com/wix/FirewallExtension">
  <?define EXE=$(var.PhotonServer.TargetFileName)?>
  <?define VERSION=!(bind.FileVersion.$(var.EXE))?>
  <?define PhotonServer_TargetDir=$(var.PhotonServer.TargetDir)?>
  <Product Id="*" Name="Photon Server $(var.VERSION)" Language="1033" Version="$(var.VERSION)" Manufacturer="Joshua Miller" UpgradeCode="1b9734e8-64b0-4035-9956-dc8e74a45c28">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="Joshua Miller" Description="Windows Installer for Photon Server." />

    <Media Id="1" Cabinet="Photon.Server.cab" EmbedCab="yes" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of Photon Server is already installed." />

		<Feature Id="Complete" Title="Photon Server" Description="Install Photon Server." Level="1" Display="expand" ConfigurableDirectory="INSTALLDIR">
      <Feature Id="ServerExecutable" Title="Photon Server" Description="Photon Server application." Level="1">
        <ComponentGroupRef Id="ProductComponents" />
        <ComponentGroupRef Id="ServerTemplates" />
      </Feature>
      <ComponentGroupRef Id="Views_Agents_files" />
      <ComponentGroupRef Id="Views_files" />
      <ComponentGroupRef Id="Views_Packages_files" />
      <ComponentGroupRef Id="Views_Projects_files" />
      <ComponentGroupRef Id="Views_Variables_files" />
      <ComponentGroupRef Id="Content_bootstrap_4.1.0_css_files" />
      <ComponentGroupRef Id="Content_bootstrap_4.1.0_js_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.0.11_css_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.0.11_webfonts_files" />
      <ComponentGroupRef Id="Content_Images_files" />
      <ComponentGroupRef Id="Content_files" />
      <ComponentGroupRef Id="Views_Session_files" />
      <ComponentGroupRef Id="Content_jsoneditor_5.15.0_img_files" />
      <ComponentGroupRef Id="Content_jsoneditor_5.15.0_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.0.13_js_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.0.13_css_files" />
      <ComponentGroupRef Id="Views_VariableSet_files" />
      <ComponentGroupRef Id="Views_Project_files" />
      <ComponentGroupRef Id="Views_Agent_files" />
      <ComponentGroupRef Id="Views_Package_files" />
      <ComponentGroupRef Id="Views_Build_files" />
      <ComponentGroupRef Id="Views_Deployment_files" />
      <ComponentGroupRef Id="Views_Configuration_files" />
      <ComponentGroupRef Id="Views_Security_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.2.0_webfonts_files" />
      <ComponentGroupRef Id="Content_fontawesome_5.2.0_css_files" />
		</Feature>
    
    <Property Id="CREATEFIREWALLEXCEPTION" Value="yes" Secure="yes" />

    <Binary Id="ConfigTools" SourceFile="$(var.PhotonInstallerCommon.TargetDir)Photon.Installer.Common.CA.dll" />
    <CustomAction Id="SetPhotonUrl" BinaryKey="ConfigTools" DllEntry="LoadServerUrl" Impersonate="yes" />

    <Property Id="WixShellExecTarget" Value="[PHOTON_URL]" />
	  <CustomAction Id="LaunchServerConfiguration" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

	  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
	  <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open Server Configuration" />
	  <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        
	  <WixVariable Id="WixUILicenseRtf" Value="Content\gpl-3.0.rtf" />

	  <UI>
	    <UIRef Id="WixUI_InstallDir" />
	    <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="SetPhotonUrl" Order="1">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
	    <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchServerConfiguration" Order="2">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
	  </UI>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
		  <Directory Id="CommonAppDataFolder">
		    <Directory Id="CommonAppDataManufacturerFolder" Name="Photon">
		      <Directory Id="INSTALLDIR" Name="Server">
		        <Directory Id="InstallBin" Name="bin">
		          <Directory Id="Content" Name="Content">
		            <Directory Id="Content_bootstrap_4.1.0" Name="bootstrap-4.1.0">
		              <Directory Id="Content_bootstrap_4.1.0_css" Name="css" />
		              <Directory Id="Content_bootstrap_4.1.0_js" Name="js" />
		            </Directory>
		            <Directory Id="Content_fontawesome_5.0.11" Name="fontawesome-5.0.11">
		              <Directory Id="Content_fontawesome_5.0.11_css" Name="css" />
		              <Directory Id="Content_fontawesome_5.0.11_webfonts" Name="webfonts" />
		            </Directory>
		            <Directory Id="Content_Images" Name="Images" />
		            <Directory Id="Content_jsoneditor_5.15.0" Name="jsoneditor-5.15.0">
		              <Directory Id="Content_jsoneditor_5.15.0_img" Name="img" />
		            </Directory>
		            <Directory Id="Content_fontawesome_5.0.13" Name="fontawesome-5.0.13">
		              <Directory Id="Content_fontawesome_5.0.13_css" Name="css" />
		              <Directory Id="Content_fontawesome_5.0.13_js" Name="js" />
		            </Directory>
		            <Directory Id="Content_fontawesome_5.2.0" Name="fontawesome-5.2.0">
		              <Directory Id="Content_fontawesome_5.2.0_css" Name="css" />
		              <Directory Id="Content_fontawesome_5.2.0_webfonts" Name="webfonts" />
		            </Directory>
		          </Directory>
		          <Directory Id="Views" Name="Views">
		            <Directory Id="Views_Agents" Name="Agents" />
		            <Directory Id="Views_Packages" Name="Packages" />
		            <Directory Id="Views_Projects" Name="Projects" />
		            <Directory Id="Views_Variables" Name="Variables" />
		            <Directory Id="Views_Session" Name="Session" />
		            <Directory Id="Views_Package" Name="Package" />
		            <Directory Id="Views_Deployment" Name="Deployment" />
		            <Directory Id="Views_Build" Name="Build" />
		            <Directory Id="Views_Agent" Name="Agent" />
		            <Directory Id="Views_Project" Name="Project" />
		            <Directory Id="Views_VariableSet" Name="VariableSet" />
		            <Directory Id="Views_Security" Name="Security" />
		            <Directory Id="Views_Configuration" Name="Configuration" />
		          </Directory>
		        </Directory>
		      </Directory>
		    </Directory>
		  </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="InstallBin">
			<Component Id="PhotonServer.exe" Guid="555abaa8-022d-4288-98a6-0eb32866a342">
        <File Id="PhotonServer.exe" Name="PhotonServer.exe" Source="$(var.PhotonServer_TargetDir)PhotonServer.exe" KeyPath="yes" />
			  <ServiceInstall Id="ServiceInstaller" Name="Photon.Server" Type="ownProcess" DisplayName="Photon Server" Description="Primary Server instance for Photon." Start="auto" ErrorControl="normal" />
			  <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="Photon.Server" Wait="yes" />
			</Component>
		  <!--<Component Id="RegistryComponents" Guid="679F3BBF-5515-46E2-BEC0-C103166EF130">
		    <RegistryKey Root="HKLM" Key="SOFTWARE\Photon\Server" Action="createAndRemoveOnUninstall">
		      <RegistryValue Name="FirewallException" Value="[CREATEFIREWALLEXCEPTION]" Type="integer" />
		    </RegistryKey>
		  </Component>-->
		  <Component Id="FirewallException" Guid="3CBE654C-871B-423F-8357-D2B4E1E1DBA6" KeyPath="yes">
		    <Condition>CREATEFIREWALLEXCEPTION</Condition>
		    <firewall:FirewallException Id="PhotonServerFirewallException" File="PhotonServer.exe" Name="Photon Server" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
		  </Component>
			<Component Id="PhotonServer.exe.config" Guid="">
			  <File Id="PhotonServer.exe.config" Name="PhotonServer.exe.config" Source="$(var.PhotonServer_TargetDir)PhotonServer.exe.config" />
			</Component>
			<Component Id="log4net.dll" Guid="4472635c-5818-463c-b3be-5971ca8dbd7c">
			  <File Id="log4net.dll" Name="log4net.dll" Source="$(var.PhotonServer_TargetDir)log4net.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="d0825149-cfa8-4521-81c9-6bc3a464c4e6">
			  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.PhotonServer_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="PiServerLite.dll" Guid="3d0e76ac-5cea-4f8a-8610-7f62a0663a43">
			  <File Id="PiServerLite.dll" Name="PiServerLite.dll" Source="$(var.PhotonServer_TargetDir)PiServerLite.dll" />
			</Component>
			<Component Id="System.Threading.Tasks.Dataflow.dll" Guid="673568fa-a668-4806-87b5-74630483c0f0">
			  <File Id="System.Threading.Tasks.Dataflow.dll" Name="System.Threading.Tasks.Dataflow.dll" Source="$(var.PhotonServer_TargetDir)System.Threading.Tasks.Dataflow.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.Bson.dll" Guid="11012ea1-5a56-4134-967d-4dd7272ed975">
			  <File Id="Newtonsoft.Json.Bson.dll" Name="Newtonsoft.Json.Bson.dll" Source="$(var.PhotonServer_TargetDir)Newtonsoft.Json.Bson.dll" />
			</Component>
			<Component Id="Photon.Framework.dll" Guid="e56ea86e-fc73-40aa-9f96-2e7345bc8cda">
			  <File Id="Photon.Framework.dll" Name="Photon.Framework.dll" Source="$(var.PhotonServer_TargetDir)Photon.Framework.dll" />
			</Component>
			<Component Id="Photon.Communication.dll" Guid="54c56012-b009-44be-a934-1fb2066f508f">
			  <File Id="Photon.Communication.dll" Name="Photon.Communication.dll" Source="$(var.PhotonServer_TargetDir)Photon.Communication.dll" />
			</Component>
			<Component Id="Photon.Library.dll" Guid="b131f8e8-afd7-4563-885a-d5136c99e4c1">
			  <File Id="Photon.Library.dll" Name="Photon.Library.dll" Source="$(var.PhotonServer_TargetDir)Photon.Library.dll" />
			</Component>
			<Component Id="System.Runtime.InteropServices.RuntimeInformation.dll" Guid="e4e34802-30ef-4e84-a9d1-f0144093b078">
			  <File Id="System.Runtime.InteropServices.RuntimeInformation.dll" Name="System.Runtime.InteropServices.RuntimeInformation.dll" Source="$(var.PhotonServer_TargetDir)System.Runtime.InteropServices.RuntimeInformation.dll" />
			</Component>
		</ComponentGroup>
    <ComponentGroup Id="ServerTemplates" Directory="INSTALLDIR">
      <Component Id="ServerConfigTemplate" Guid="">
        <File Source="$(var.PhotonServer.ProjectDir)server.json" KeyPath="yes">
          <util:PermissionEx User="Users" GenericAll="yes" />
        </File>
      </Component>
      <Component Id="ServerUninstaller" Guid="3F44476F-9CDE-4C04-9728-8B8258ADCA9A">
        <Shortcut Id="UninstallProduct" Name="Uninstall Photon.Server" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="Uninstalls Photon Server." />
      </Component>
    </ComponentGroup>
	</Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Agents_files" Directory="Views_Agents">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_files" Directory="Views">
      
      <Component Id="Views_Index.html" Guid="00b3c93f-90c5-48c8-b873-77b8dd3a62d9">
        <File Id="Views_Index.html" Name="Index.html" Source="$(var.PhotonServer_TargetDir)Views\Index.html" />
      </Component>
      <Component Id="Views_Master.html" Guid="9ad3ccf7-5a97-4e64-9dea-80920112b474">
        <File Id="Views_Master.html" Name="Master.html" Source="$(var.PhotonServer_TargetDir)Views\Master.html" />
      </Component>
      <Component Id="Views_Login.html" Guid="6b570aa8-bbcb-4485-960e-e7b61e169fc0">
        <File Id="Views_Login.html" Name="Login.html" Source="$(var.PhotonServer_TargetDir)Views\Login.html" />
      </Component>
      <Component Id="Views_AccessDenied.html" Guid="aaa1a43c-84fe-4b3e-b2e1-44426dadcce9">
        <File Id="Views_AccessDenied.html" Name="AccessDenied.html" Source="$(var.PhotonServer_TargetDir)Views\AccessDenied.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Packages_files" Directory="Views_Packages">
      
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Projects_files" Directory="Views_Projects">
      
      
      
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Variables_files" Directory="Views_Variables">
      
      
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_bootstrap_4.1.0_css_files" Directory="Content_bootstrap_4.1.0_css">
      <Component Id="Content_bootstrap_4.1.0_css_bootstrap_grid.min.css" Guid="718c072d-046d-4c32-875d-3e256785baa4">
        <File Id="Content_bootstrap_4.1.0_css_bootstrap_grid.min.css" Name="bootstrap-grid.min.css" Source="$(var.PhotonServer_TargetDir)Content\bootstrap-4.1.0\css\bootstrap-grid.min.css" />
      </Component>
      <Component Id="Content_bootstrap_4.1.0_css_bootstrap_reboot.min.css" Guid="372fb9be-37e7-42d8-8ce6-2e5161706b98">
        <File Id="Content_bootstrap_4.1.0_css_bootstrap_reboot.min.css" Name="bootstrap-reboot.min.css" Source="$(var.PhotonServer_TargetDir)Content\bootstrap-4.1.0\css\bootstrap-reboot.min.css" />
      </Component>
      <Component Id="Content_bootstrap_4.1.0_css_bootstrap.min.css" Guid="de0423bd-7b1e-4f61-9178-96e37165f99e">
        <File Id="Content_bootstrap_4.1.0_css_bootstrap.min.css" Name="bootstrap.min.css" Source="$(var.PhotonServer_TargetDir)Content\bootstrap-4.1.0\css\bootstrap.min.css" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_bootstrap_4.1.0_js_files" Directory="Content_bootstrap_4.1.0_js">
      <Component Id="Content_bootstrap_4.1.0_js_bootstrap.bundle.min.js" Guid="1fafb227-3aef-48eb-aa30-2b84d2458d85">
        <File Id="Content_bootstrap_4.1.0_js_bootstrap.bundle.min.js" Name="bootstrap.bundle.min.js" Source="$(var.PhotonServer_TargetDir)Content\bootstrap-4.1.0\js\bootstrap.bundle.min.js" />
      </Component>
      <Component Id="Content_bootstrap_4.1.0_js_bootstrap.min.js" Guid="20a11bdb-5c99-42b3-84fa-f0cd8afbdade">
        <File Id="Content_bootstrap_4.1.0_js_bootstrap.min.js" Name="bootstrap.min.js" Source="$(var.PhotonServer_TargetDir)Content\bootstrap-4.1.0\js\bootstrap.min.js" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.0.11_css_files" Directory="Content_fontawesome_5.0.11_css">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.0.11_webfonts_files" Directory="Content_fontawesome_5.0.11_webfonts">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_Images_files" Directory="Content_Images">
      <Component Id="Content_Images_photon_dark.svg" Guid="a24f05d6-b232-41eb-b196-e6f3a5298683">
        <File Id="Content_Images_photon_dark.svg" Name="photon_dark.svg" Source="$(var.PhotonServer_TargetDir)Content\Images\photon_dark.svg" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_files" Directory="Content">
      <Component Id="Content_jquery_3.3.1.min.js" Guid="46a782b9-8b93-40f0-b2b2-99b0c10369ec">
        <File Id="Content_jquery_3.3.1.min.js" Name="jquery-3.3.1.min.js" Source="$(var.PhotonServer_TargetDir)Content\jquery-3.3.1.min.js" />
      </Component>
      <Component Id="Content_photon_light.ico" Guid="d5b3425e-d2a5-4e4c-a102-079e29b2cc4b">
        <File Id="Content_photon_light.ico" Name="photon_light.ico" Source="$(var.PhotonServer_TargetDir)Content\photon_light.ico" />
      </Component>
      <Component Id="Content_popper.min.js" Guid="d27cb018-bb47-44c4-81dd-1b3b8beaacf2">
        <File Id="Content_popper.min.js" Name="popper.min.js" Source="$(var.PhotonServer_TargetDir)Content\popper.min.js" />
      </Component>
      <Component Id="Content_ActiveSessions.js" Guid="639f1873-03fc-4d91-b860-d8aca6768b79">
        <File Id="Content_ActiveSessions.js" Name="ActiveSessions.js" Source="$(var.PhotonServer_TargetDir)Content\ActiveSessions.js" />
      </Component>
      <Component Id="Content_ansi_up.js" Guid="b0fe2a0a-ed97-4309-8a50-a4e5b2622e41">
        <File Id="Content_ansi_up.js" Name="ansi_up.js" Source="$(var.PhotonServer_TargetDir)Content\ansi_up.js" />
      </Component>
      <Component Id="Content_SessionOutput.js" Guid="da535f07-5d27-40be-8746-be12c0ba6d5f">
        <File Id="Content_SessionOutput.js" Name="SessionOutput.js" Source="$(var.PhotonServer_TargetDir)Content\SessionOutput.js" />
      </Component>
      <Component Id="Content_site.css" Guid="2bf69640-ec61-4164-9d45-81a1f28f83ef">
        <File Id="Content_site.css" Name="site.css" Source="$(var.PhotonServer_TargetDir)Content\site.css" />
      </Component>
      <Component Id="Content_outputCursor.css" Guid="da98f198-126e-44a5-a100-5174b117f2a1">
        <File Id="Content_outputCursor.css" Name="outputCursor.css" Source="$(var.PhotonServer_TargetDir)Content\outputCursor.css" />
      </Component>
      <Component Id="Content_js.cookie_2.2.0.min.js" Guid="b371fbbb-7404-47c4-a8dc-7d1aa9419c89">
        <File Id="Content_js.cookie_2.2.0.min.js" Name="js.cookie-2.2.0.min.js" Source="$(var.PhotonServer_TargetDir)Content\js.cookie-2.2.0.min.js" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Session_files" Directory="Views_Session">
      
      
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_jsoneditor_5.15.0_img_files" Directory="Content_jsoneditor_5.15.0_img">
      <Component Id="Content_jsoneditor_5.15.0_img_jsoneditor_icons.svg" Guid="ad3ed3ad-29de-4ccc-a2bf-c53c1496dcd9">
        <File Id="Content_jsoneditor_5.15.0_img_jsoneditor_icons.svg" Name="jsoneditor-icons.svg" Source="$(var.PhotonServer_TargetDir)Content\jsoneditor-5.15.0\img\jsoneditor-icons.svg" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_jsoneditor_5.15.0_files" Directory="Content_jsoneditor_5.15.0">
      <Component Id="Content_jsoneditor_5.15.0_jsoneditor.min.css" Guid="7b2bec8a-7c45-4922-ad60-e8730ffb309a">
        <File Id="Content_jsoneditor_5.15.0_jsoneditor.min.css" Name="jsoneditor.min.css" Source="$(var.PhotonServer_TargetDir)Content\jsoneditor-5.15.0\jsoneditor.min.css" />
      </Component>
      <Component Id="Content_jsoneditor_5.15.0_jsoneditor.min.js" Guid="e7865e9f-28be-4b81-b3b7-5483e88dbef9">
        <File Id="Content_jsoneditor_5.15.0_jsoneditor.min.js" Name="jsoneditor.min.js" Source="$(var.PhotonServer_TargetDir)Content\jsoneditor-5.15.0\jsoneditor.min.js" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.0.13_js_files" Directory="Content_fontawesome_5.0.13_js">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.0.13_css_files" Directory="Content_fontawesome_5.0.13_css">
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_VariableSet_files" Directory="Views_VariableSet">
      <Component Id="Views_VariableSet_Index.html" Guid="7ec6cccf-9de5-4a2e-9879-84c17be71654">
        <File Id="Views_VariableSet_Index.html" Name="Index.html" Source="$(var.PhotonServer_TargetDir)Views\VariableSet\Index.html" />
      </Component>
      <Component Id="Views_VariableSet_EditJson.html" Guid="b50d5811-1b8f-47c1-8b8d-930336f68aa4">
        <File Id="Views_VariableSet_EditJson.html" Name="EditJson.html" Source="$(var.PhotonServer_TargetDir)Views\VariableSet\EditJson.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Project_files" Directory="Views_Project">
      <Component Id="Views_Project_Index.html" Guid="803ce825-9acc-4fc8-9268-19a9ee5ac473">
        <File Id="Views_Project_Index.html" Name="Index.html" Source="$(var.PhotonServer_TargetDir)Views\Project\Index.html" />
      </Component>
      <Component Id="Views_Project_Json.html" Guid="ff1b4ed4-71b4-4241-af0c-bf1c823fb3ba">
        <File Id="Views_Project_Json.html" Name="Json.html" Source="$(var.PhotonServer_TargetDir)Views\Project\Json.html" />
      </Component>
      <Component Id="Views_Project_Edit.html" Guid="8968d143-cdb3-4844-a293-c06276d7ca62">
        <File Id="Views_Project_Edit.html" Name="Edit.html" Source="$(var.PhotonServer_TargetDir)Views\Project\Edit.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Agent_files" Directory="Views_Agent">
      <Component Id="Views_Agent_Index.html" Guid="dc4c039a-b47e-4f5e-ab1f-ffe95e35177f">
        <File Id="Views_Agent_Index.html" Name="Index.html" Source="$(var.PhotonServer_TargetDir)Views\Agent\Index.html" />
      </Component>
      <Component Id="Views_Agent_EditJson.html" Guid="c6070f19-c48c-44c2-bff0-a25d9f4019eb">
        <File Id="Views_Agent_EditJson.html" Name="EditJson.html" Source="$(var.PhotonServer_TargetDir)Views\Agent\EditJson.html" />
      </Component>
      <Component Id="Views_Agent_Edit.html" Guid="903b9c69-3c19-4b81-8f07-ab8865d2f19e">
        <File Id="Views_Agent_Edit.html" Name="Edit.html" Source="$(var.PhotonServer_TargetDir)Views\Agent\Edit.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Package_files" Directory="Views_Package">
      <Component Id="Views_Package_Index.html" Guid="18eb0848-02bf-4e0b-b2bc-b873d4e1cb96">
        <File Id="Views_Package_Index.html" Name="Index.html" Source="$(var.PhotonServer_TargetDir)Views\Package\Index.html" />
      </Component>
      <Component Id="Views_Package_ApplicationDetails.html" Guid="4769f3ee-a04b-488c-8263-fd0d13bd52c0">
        <File Id="Views_Package_ApplicationDetails.html" Name="ApplicationDetails.html" Source="$(var.PhotonServer_TargetDir)Views\Package\ApplicationDetails.html" />
      </Component>
      <Component Id="Views_Package_ProjectDetails.html" Guid="77ca619a-bb75-4377-b017-65fc0d3d6bae">
        <File Id="Views_Package_ProjectDetails.html" Name="ProjectDetails.html" Source="$(var.PhotonServer_TargetDir)Views\Package\ProjectDetails.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Build_files" Directory="Views_Build">
      <Component Id="Views_Build_Index.html" Guid="ffe034da-b210-4313-9782-c67c4890c82f">
        <File Id="Views_Build_Index.html" Name="Index.html" Source="$(var.PhotonServer_TargetDir)Views\Build\Index.html" />
      </Component>
      <Component Id="Views_Build_Details.html" Guid="2935d141-0443-47be-8131-157b92c9c2e4">
        <File Id="Views_Build_Details.html" Name="Details.html" Source="$(var.PhotonServer_TargetDir)Views\Build\Details.html" />
      </Component>
      <Component Id="Views_Build_New.html" Guid="4b0a51f3-c496-4f0b-804d-6ab0591cc870">
        <File Id="Views_Build_New.html" Name="New.html" Source="$(var.PhotonServer_TargetDir)Views\Build\New.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Deployment_files" Directory="Views_Deployment">
      <Component Id="Views_Deployment_Index.html" Guid="0002200d-61fb-471f-8352-f39c4a6f55e6">
        <File Id="Views_Deployment_Index.html" Name="Index.html" Source="$(var.PhotonServer_TargetDir)Views\Deployment\Index.html" />
      </Component>
      <Component Id="Views_Deployment_New.html" Guid="b0bf2f2f-d9e6-4b96-81e8-d6f0413c5836">
        <File Id="Views_Deployment_New.html" Name="New.html" Source="$(var.PhotonServer_TargetDir)Views\Deployment\New.html" />
      </Component>
      <Component Id="Views_Deployment_Details.html" Guid="2d8b0c12-6c14-44d2-a9e9-2f6a12469caf">
        <File Id="Views_Deployment_Details.html" Name="Details.html" Source="$(var.PhotonServer_TargetDir)Views\Deployment\Details.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Configuration_files" Directory="Views_Configuration">
      <Component Id="Views_Configuration_Index.html" Guid="e996e978-e985-4613-87eb-03e9b26a7dc3">
        <File Id="Views_Configuration_Index.html" Name="Index.html" Source="$(var.PhotonServer_TargetDir)Views\Configuration\Index.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Views_Security_files" Directory="Views_Security">
      <Component Id="Views_Security_Index.html" Guid="0c6e3b92-fec5-45d6-82a9-0e8131b3f379">
        <File Id="Views_Security_Index.html" Name="Index.html" Source="$(var.PhotonServer_TargetDir)Views\Security\Index.html" />
      </Component>
      <Component Id="Views_Security_EditUser.html" Guid="86c85803-0f18-4136-add7-796cf515f7c0">
        <File Id="Views_Security_EditUser.html" Name="EditUser.html" Source="$(var.PhotonServer_TargetDir)Views\Security\EditUser.html" />
      </Component>
      <Component Id="Views_Security_EditGroup.html" Guid="264dc736-caa4-4446-ae9e-509198fd79a5">
        <File Id="Views_Security_EditGroup.html" Name="EditGroup.html" Source="$(var.PhotonServer_TargetDir)Views\Security\EditGroup.html" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.2.0_webfonts_files" Directory="Content_fontawesome_5.2.0_webfonts">
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.svg" Guid="01d9fe03-d5d2-490e-b86e-5c8e4e50a2ec">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.svg" Name="fa-solid-900.svg" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-solid-900.svg" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.ttf" Guid="3D4F6C4E-E220-4FE1-A451-D3018C4E0007">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.ttf" Name="fa-solid-900.ttf" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-solid-900.ttf" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.woff" Guid="FC137283-9775-4AFA-A74D-633EC13FE633">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.woff" Name="fa-solid-900.woff" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-solid-900.woff" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.woff2" Guid="2C8EC6E7-9399-47D2-AD2A-660E9C61AC77">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.woff2" Name="fa-solid-900.woff2" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-solid-900.woff2" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.svg" Guid="54306c7e-6d39-4ca9-97c1-b4bd77ea31b7">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.svg" Name="fa-regular-400.svg" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-regular-400.svg" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.ttf" Guid="F2B9FF3C-2E50-4B63-A495-734BBC266A2A">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.ttf" Name="fa-regular-400.ttf" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-regular-400.ttf" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.woff" Guid="97B73486-C340-46AD-BAF1-D4B066249AA5">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.woff" Name="fa-regular-400.woff" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-regular-400.woff" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.woff2" Guid="C38AF851-3E40-4CF9-8921-7D820FFFC6B8">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.woff2" Name="fa-regular-400.woff2" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-regular-400.woff2" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.svg" Guid="5c24f725-fa25-45f2-8d14-635dc6507ccd">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.svg" Name="fa-brands-400.svg" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-brands-400.svg" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.ttf" Guid="25E35492-76FD-4308-B152-605154E587FC">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.ttf" Name="fa-brands-400.ttf" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-brands-400.ttf" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.woff" Guid="D17491C4-6FE4-4A01-BC0B-07CDC9A1F50A">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.woff" Name="fa-brands-400.woff" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-brands-400.woff" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.woff2" Guid="015CDF42-888C-4A48-8DB5-3A58657019AD">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.woff2" Name="fa-brands-400.woff2" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-brands-400.woff2" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.eot" Guid="f3260004-1905-4a52-aa64-444a51c83d94">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_brands_400.eot" Name="fa-brands-400.eot" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-brands-400.eot" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.eot" Guid="bb2546c3-0704-4b28-9a41-ffd5270ab91c">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_regular_400.eot" Name="fa-regular-400.eot" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-regular-400.eot" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.eot" Guid="e1797d97-f78d-479a-997b-f39b514e5fcd">
        <File Id="Content_fontawesome_5.2.0_webfonts_fa_solid_900.eot" Name="fa-solid-900.eot" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\webfonts\fa-solid-900.eot" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Content_fontawesome_5.2.0_css_files" Directory="Content_fontawesome_5.2.0_css">
      <Component Id="Content_fontawesome_5.2.0_css_all.css" Guid="c215cd63-9432-4db3-b2c9-cecf9f58711c">
        <File Id="Content_fontawesome_5.2.0_css_all.css" Name="all.css" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\css\all.css" />
      </Component>
      <Component Id="Content_fontawesome_5.2.0_css_all.min.css" Guid="a3530fe2-fc38-4a54-95fa-54bce895c995">
        <File Id="Content_fontawesome_5.2.0_css_all.min.css" Name="all.min.css" Source="$(var.PhotonServer_TargetDir)Content\fontawesome-5.2.0\css\all.min.css" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>