.blinking-cursor {
    color: #FFF;
    font-weight: 100;
    -webkit-animation: 1s cursor-blink step-end infinite;
    -moz-animation: 1s cursor-blink step-end infinite;
    -ms-animation: 1s cursor-blink step-end infinite;
    -o-animation: 1s cursor-blink step-end infinite;
    animation: 1s cursor-blink step-end infinite;
}

@keyframes cursor-blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-moz-keyframes cursor-blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes cursor-blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #CCC;
    }
}

@-ms-keyframes cursor-blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #CCC;
    }
}

@-o-keyframes cursor-blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #CCC;
    }
}