.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s cursor-blink step-end infinite;
    -moz-animation: 1s cursor-blink step-end infinite;
    -ms-animation: 1s cursor-blink step-end infinite;
    -o-animation: 1s cursor-blink step-end infinite;
    animation: 1s cursor-blink step-end infinite;
}

@keyframes cursor-blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes cursor-blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes cursor-blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes cursor-blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes cursor-blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}