<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="http.host" value="localhost" />
    <add key="http.port" value="80" />
    <add key="http.path" value="/photon" />
  </appSettings>
</configuration>