<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="parallelism" value="4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="directory" value=".\.." xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="httpContent" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="httpViews" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
