{{#Master Master.html}}

{{#Script}}
<script>
    var deploymentStartUrl = '{{#Url api/deployment/start}}';
    var deploymentDetailsUrl = '{{#Url deployment/details}}';

    $(function () {
        $('#layoutNavbarContent [data-link="deployments"]').addClass('active');
    });

    function onSubmit() {
        $('#ErrorContainer').empty();
    }
</script>
{{#EndScript}}

<nav class="navbar navbar-dark bg-dark content-navbar">
    <div class="navbar-brand mr-auto">
        <h3 class="text-primary my-0">
            <i class="fas fa-cloud-download-alt"></i> New Deployment
        </h3>
    </div>
</nav>

<div class="bg-info" style="padding: 8px 20px">
    <h3 class="text-white m-0">{{ProjectName}}</h3>
    <p class="text-light m-0">{{ProjectDescription}}</p>
</div>

<form method="post">
    <input type="hidden" Name="ProjectId" value="{{ProjectId}}" />
    <div class="container mt-3">
        {{#If Errors}}
        <div class="alert alert-danger mb-2">
            <ul class="my-0">
                {{#Each Errors.error}}
                <li>{{error.Message}}</li>
                {{#EndEach}}
            </ul>
        </div>
        {{#EndIf}}
        {{#If !PackageIdList}}
        <div class="alert alert-warning mb-2">
            <p class="my-0">
                No Project-Packages have been created. Before deploying a package, a Build-Task must first
                generate one. Go to <a href="{{#Url build/new}}?project={{&ProjectId}}">Builds</a>.
            </p>
        </div>
        {{#EndIf}}
        <div class="row">
            <div class="col-12 form-group">
                <label for="PackageIdText">Package ID</label>
                <!--<input type="text" id="PackageIdText" name="PackageId" class="form-control" value="{{PackageId}}" />-->
                <select id="PackageIdText" name="PackageId" class="form-control" value="{{PackageId}}">
                    {{#Each PackageIdList.packageId}}
                    <option value="{{packageId}}">{{packageId}}</option>
                    {{#EndEach}}
                </select>
                <small class="text-muted">The ID of the Project Package to deploy.</small>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label for="PackageVersionText">Package Version</label>
                <input type="text" id="PackageVersionText" name="PackageVersion" class="form-control" value="{{PackageVersion}}" />
                <small class="text-muted">The version of the Project Package to deploy.</small>
            </div>
        </div>
        {{#If Environments}}
        <div class="row">
            <div class="col-12 form-group">
                <label for="EnvironmentSelect">Environment</label>
                <select id="EnvironmentSelect" name="EnvironmentName" class="form-control">
                    {{#Each Environments.env}}
                    <option value="{{env.Name}}" {{#If env.Selected}} selected="selected" {{#EndIf}}>{{env.Name}}</option>
                    {{#EndEach}}
                </select>
                <small class="text-muted">The environment where the deployment should be performed.</small>
            </div>
        </div>
        {{#EndIf}}
        <hr />
        <div class="float-right">
            <a href="{{#Url deployments}}" class="btn btn-dark">Cancel</a>
            <button type="submit" class="btn btn-success">
                Deploy <i class="fas fa-play"></i>
            </button>
        </div>
    </div>
</form>
