{{#Master Master.html}}

{{#Script}}
<script>
    $(function () {
        $('#layoutNavbarContent [data-link="packages"]').addClass('active');
    });
</script>
{{#EndScript}}

<nav class="navbar navbar-dark bg-dark content-navbar">
    <div class="navbar-brand mr-auto">
        <!--<h3 class="text-primary my-0">Packages</h3>-->
    </div>
</nav>

<div class="container mt-3">
    <div class="px-3 py-0">
        <h3 class="py-0 text-muted">Feature in development.</h3>
        <p>
            While packages may exist, the UI for managing them is still in development.
        </p>
    </div>
</div>